{% extends 'headless-layout' %}

{% block contents %}
	
    <div class="row">
        <div class="col-md-6">
		<div id="login-form">
		{% import 'bs3-forms' as forms %}
		{{ forms.start() }}
		{{ forms.input('username', type='text', label='Username', required = true) }}
		{{ forms.input('password', type='password', label='Password', required = true) }}
		{{ forms.button('Submit') }}
		<a href="user/password/">Forgot Password?</a>
		<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
		{{ forms.end() }}
		</div>
	</div>
    </div>
   
{% endblock %}

{% block extra_footers %}
<script>
$("#login-form").form({ onSuccess: function() { 
	location.assign(''); 
}}) ;
</script>
{% endblock %}
