{% extends 'layout' %}

{% block contents %}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#edit" data-toggle="tab">Description</a></li>
		<li><a href="#waypoints" data-toggle="tab">Waypoints</a></li>
		<li><a href="#attachments" data-toggle="tab">Attachments</a></li>
		<li><a href="#preview" data-toggle="tab">Preview</a></li>
	</ul>
		
            
	<div class="tab-content clearfix" style="margin-top: 10px">
		<div class="tab-pane active" id="edit">
			<form id="edit-content" action="route/publish/" method="POST">
				<div class="form-group">
					<textarea class="mce-editable form-control" name="content" id="content">{{route.description}}</textarea>
				</div>
				<input type="hidden" name="id" id="route_id" value="{{route.id}}">
				  
				<p class="form-control-static" id="message"></p>
				    
				<button type="submit" class="btn btn-default">Publish</button>
			</form> 
	   	</div>
	   		
	   	<div class="tab-pane" id="waypoints">
	   	<div id="wpts-list-view">

{% include 'table-view' with { title: "Waypoints", columns: [{ key: 'name', label: 'Name'}, {key: 'desc', label: 'Description'}] } only %}

{% embed 'modal' with { id: "create-form", title: "Create New Waypoint" } only %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.input('name', type='text', label='Name', required = true) }}
{{ forms.input('desc', type='text', label='Description') }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endembed %}
      
{% embed 'modal' with { id: "edit-form", title: "Update Waypoint" } %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.input('name', type='text', label='Name', required = true) }}
{{ forms.input('desc', type='text', label='Description') }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endembed %}
</div>
</div>
				
<div class="tab-pane" id="attachments">
   	<div id="attachments-list-view">

{% include 'table-view' with { title: "Attachments", columns: [{ key: 'name', label: 'Name'}, {key: 'type', label: 'Type'}] } only %}

{% embed 'modal' with { id: "create-form", title: "Create New Attachment", atypes: atypes } only %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.select('type', atypes, label='Type', required = true) }}
{{ forms.upload('attachment-file', label='Attachment File', required = true) }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endembed %}
      
{% embed 'modal' with { id: "edit-form", title: "Update Attachment" } %}
{% block body %}
{% import 'bs3-forms' as forms %}
{{ forms.start() }}
{{ forms.input('name', type='text', label='Name', required = true) }}
{{ forms.select('type', atypes, label='Type', required = true) }}
{{ forms.button('Submit') }}
{{ forms.end() }}
{% endblock %}
{% endembed %}

</div>
</div>
		
		   		
		<div class="tab-pane" id="preview">
            
	   	</div>
    </div>
{% endblock %}

{% block extra_footers %}

        <script language="javascript" type="text/javascript" src="js/tinymce/js/tinymce/tinymce.min.js"></script>
        <script src="js/tableview.js"></script>

        <script type="text/javascript">
  			$(document).ready(function() {
  			
 		  	var atypes = {{atypes|to_json}} ;
  			
  			$('#wpts-list-view').tableview({ 
				url:"wpts/{{route.id}}/",  
  			}) ;
  			
  			$('#attachments-list-view').tableview({ 
				url:"attachments/{{route.id}}/",  filters: { type: 
  						function(row) { 
  							return atypes[row.data.type]; 
  						}
  					 }
  			}) ;

  			
	        {% include 'tinymce' %}
	        
	        $("#preview").html($("#content").val());
	        
	        $("#edit-content").submit(function(e) {
	            var f = $(this) ;
	          	
            	$.ajax({
                	 type: 'POST',
                	 url: f.attr("action"),
                	 dataType: 'json',
	                 data: f.serialize(),
    	             success: function (data, textStatus, request) {
    	             	$('input[name=id]').val(data.id) ;
    	                 $("#preview").html($("#content").val());
    	                 $('#message').html(data.msg).addClass("alert alert-success") ;
    	             },
    	             error: function (req, status, error) {
    	                 alert&("Error occurred!");
    	             }
    	        });
    	        
    	        e.preventDefault();

    		});
	        
			
		});
		
		</script>
{% endblock %}


