<div class="form-group {{ (errors) ? 'has-error has-feedback' : '' }}">
{% if label is defined %}
	<label class="control-label" for="{{id}}">{{ label }}</label>
{% endif %}

<input type="{{type}}" id="{{id}}" name={{name}} class="form-control" {% if required %}required{% endif %} {% if disabled  %}disabled{% endif %} 
{% if placeholder is defined %}placeholder="{{placeholder}}"{% endif %} {% for a in extra_attrs %} {{a.key}}="{{a.val}}" {% endfor %} {% if value is defined %}value="{{value}}"{% endif %} >
{% include 'field-errors' %}

</div>
